/* app css stylesheet */

html{
  overflow: hidden;
}

html,body,.row-fluid.tall,.container-fluid, .span1,.span11, .sidebar-nav{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin-top: 40px;
}
.sidebar-nav {
  padding: 9px 0;
  background: -webkit-linear-gradient(left, rgba(38,38,38,0.85) 0%,rgba(27,27,27,1) 100%);
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar a.brand{
  margin-left:43%;
  color: white;
  text-shadow: none;
}


.navbar-inner{
  border:none;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#349EEB),to(#2C82C0));
}

.container-fluid.nospace{
  padding: 0;
}

.row-fluid.nospace > [class*="span"]{
  margin-left: 0px;
}

.navbar a.cog{
  font-size: 25px;
  color: white;
  float: right;
  margin-top: 7px;
  margin-right: 15px;
}

ul.nav.nav-list [class^="icon-"]::before,
ul.nav.nav-list [class*=" icon-"]::before, .grayIcon::before {
  background: -webkit-linear-gradient(top, rgba(148,148,148,0.5) 0%,rgba(76,76,76,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;  reset Font Awesome's display:inline-block 
}



ul.nav.nav-list li.active [class^="icon-"]::before,
ul.nav.nav-list li.active [class*=" icon-"]::before {
  background: -webkit-linear-gradient(-45deg, rgba(184,242,253,1) 0%,rgba(41,127,198,1) 70%,rgba(81,204,250,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.span1{
  width: 7%!important;
}

.views{
  margin-top:20px;
  overflow: hidden;
}

.span11{
  width: 93%!important;
  background-color: #F7F7F7;
}

ul.nav.nav-list li{
  font-size: 40px;
  margin-top: 20px;
}


ul.nav.nav-list li.active a{
  background: -webkit-gradient(linear,0 0,0 100%,from(#050505),to(#252525));
}

.dashBoardBox{
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(84,84,84,0.3);
  height: 160px;
  margin-right: 2%;
  margin-left: 0!important;
}

.dashBoardBox:nth-child(n+3){
  margin-top: 1.5%;
}

.row-fluid .span6{
  width:48%;
}

.footer-scroll{
  height: 70px;
  margin-right: 20px;
  background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(203,203,203,1) 100%);
  border-radius: 10px;
  margin-top: 25px;
}

.footer-scroll > .span9{
  box-shadow: inset -11px 0px 37px -17px rgba(1, 1, 1, 0.5), inset 25px 0px 37px -27px rgba(1,1,1,0.5);
  padding-left: 5px;
  padding-right: 15px;
  height: 100%;
  border-radius: 7px;
}

.footerlabel{
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
  color: grey;
}
.footer-scroll .span12{
  overflow-x: scroll;
  max-height: 60px;
  width: 150%;
}

.dashBoardBox i.bigicon{
  margin-right: 15px;
  color: #8A8A8A;
  font-size: 50px;
}

.dashBoardBox h2,h3{
  color: #2269A6;
  font-size: 21px;
}

.dashBoardBox .row-fluid [class*="span"]{
  padding:  10px;
}

.dashBoardBox i.icon-ok-sign, .dashBoardBox i.icon-exclamation-sign{
  float: right;
  font-size: 70px;
  padding-right: 1%;
}

i.icon-exclamation-sign::before {
  background: -webkit-linear-gradient(top, rgba(253,223,41,1) 0%,rgba(241,152,39,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}
i.icon-ok-sign::before {
  background: -webkit-linear-gradient(top, rgba(83,198,101,1) 0%,rgba(58,138,60,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}
i.icon-remove-sign::before {
  background: -webkit-linear-gradient(top, #E63842,#D02A21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.span2 >div > p{
  font-size: 23px;
  color: #294673;
}

.sidebarright.row-fluid .picture{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(100,100,100,0.5);
  cursor: pointer;
}
.sidebarright .span12{
  margin-bottom: 20px;
}
.sideBarWrap{
  overflow-y:scroll;
  overflow-x:visible;
  max-height: 620px;
}
.sidebarright.row-fluid{
  height: 1000px;
}
.footerDoc{
  color: #4995BF;
  padding-top: 1%;
  text-align: center;
  width: 200px;
  font-size: 13px;
  background: -webkit-linear-gradient(top, #FEFEFE 0%,#D4D4D4 100%);
  border-radius: 5px;
  height: 30px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.span9::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar{
  display: none;
}

/*******************************
Styles for cost.html partial
************************/
.boxHeader{
  color: #367FB2;
  background: -webkit-linear-gradient(top, #EFEFEF 0%,#E1E1E1 100%);
  padding: 15px;
  font-size: 18px;
  box-shadow:0px 3px 20px -10px black;
  border-bottom: 2px solid #B8B8B8;
}

.boxHeader i{
  font-size: 20px;
}

.box{
  background: white;
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}
.boxItem{
  float: left;
  padding: 15px;
  box-shadow:24px 0px 76px -33px;
  min-height: 115px!important;
}
.boxItem .title{
  font-weight: bold;
  color: #535353;
  font-size: 18px;
}
.boxItem .date{
  color: #959595;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  margin-bottom: 5px;
}
.boxItem .amount{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}
.boxItem .target{
  font-size: 14px;
}



/******/


.fragment {
    position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.fragment:not(.blah) {
    left: 1500px;
}

.fragment.blah {
    left: 0px;
}

.container-fluid {
  padding: 0 0;
}

.container-fluid.fragment.blah {
  margin-left: 20px;
  margin-right: 20px;
}