.target-volume, .actual-volume {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 500px;
}

.span5.target-volume {
  margin-left: 30px !important;
}

.span5.target-volume, .span5.actual-volume {
  margin-top: 60px;
  -webkit-box-shadow: 8px 0px 1px -6px #CFCFCF;
  -moz-box-shadow:    8px 0px 1px -6px #CFCFCF;
  box-shadow:         8px 0px 1px -6px #CFCFCF;
  -moz-border-radius:    0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius:         10px 10px 0px 0px;
}
/*
.actual-volume {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 500px;
}*/

.blue-bar {
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#349EEB),to(#2C82C0));
  margin-bottom: 20px;
}

.blue-bar-text {
  color: white;
  padding: 5px;
  margin: 7px 10px;
}

.row .difference {
  display: inline;
}

/* Column Totals Styles */

.target-column-totals, .actual-column-totals {
  margin: 15px 0 0 15px;
}

.span1.difference {
  width: 10%!important;
  margin-right: 30px;
}

.column {
  color: #349EEB;
  border-bottom: solid 2px lightgray;
}

.average {
  font-size: 2em;
  font-weight: 300;
}

.average.green {
  color: green;
}

.average.yellow {
  color: gold;
}

.average.red {
  color: red;
}

.diff {
  font-size: 0.9em;
}

.mark-tick:before {
  content: "\2713";
  color: green;
  font-size: 1.2em;
  font-weight: bold;
}

.mark-exclamation:before {
  content: "\0021";
  color: gold;
  font-size: 1.2em;
  font-weight: bold;
}

.mark-cross:before {
  content: "\00D7";
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: top;
}