.scatter-colleagues {
	float: left;
  width: 580px;
  height: 460px;
  margin-left: 20px;
}

.mark-exclamation:before {
  content: "\0021";
  color: green;
  font-size: 1.2em;
  font-weight: bold;
}

.uparrow:before {
  content: "\2191";
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}



.percent {
	font-size: 2.2em;
	color: green;
}

.stack-colleagues {
  height: 200px;
}

#stackbar-colleagues2 {
  height: 260px;
}

.boxHeader.colleagues {
  margin-left: 20px;
}