.scatter-colleagues {
	float: left;
}

.mark-exclamation:before {
  content: "\0021";
  color: gold;
  font-size: 1.2em;
  font-weight: bold;
}

.uparrow:before {
  content: "\2191";
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}



.percent {
	font-size: 2.2em;
	color: gold;
}