.summary {
	width: 100px;
}

.greenish {
	color: green;
}

.horBox {
  color: white;
  background-color: green;
}

#container2 {
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
}

#hcRightImg {
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
}
