.summary {
	width: 100px;
}

.greenish {
	color: green;
}

.horBox {
  color: white;
  background-color: green;
}

#container2 {
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
}

.rightBtnGrp {
  width: 150px;
  height: 40px;
  text-align: left;
}

#hcRightImg {
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
}

.heatTable {
}

.GOclass {
  visibility: visible;
  float: right;
}

.BUBclass {
  visibility: hidden;
  float: right;
}
