<!-- Charts -->
<div class="row">
  <!-- Target Volume chart -->
  <div class="span5 target-volume">
    
  </div>
  <!-- Actual Volume chart -->
  <div class="span5 actual-volume">
    
  </div>
</div>
<!-- Blue bar -->
<div class="row">
  <div class="span11">
    
  </div>
</div>
<!-- Column Totals -->
<div class="row">
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
  <div class="span1"></div>
</div>

<p>hello</p>

<p ng-model="capacityData">{{ capacityData }}</p>
