<div class="row-fluid">
  <div ng-controller="ColleaguesCtrl" class="scatter-colleagues" id="scatterchart-colleagues">
  </div>

  <div class="bar-container">
    <div ng-controller="ColleaguesCtrl" class="stack-colleagues" id="stackbar-colleagues">
    </div>

    <div ng-controller="ColleaguesCtrl" class="stack-colleagues" id="stackbar-colleagues2">
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="span6" id="attrition">
    <p class="column">Attrition</p>
    <hr>
    <p class="percent">13.9%</p>
    <p class="uparrow">1.0% from prior month</p>
    <p class="mark-exclamation"> 1.4% above target</p>
  </div>

  <div clas="span6" id="sickness">
    <p class="column">Absence/sickness</p>
    <hr>
    <p class="percent">4.3%</p>
    <p class="uparrow">0.3% from prior month</p>
    <p class="mark-exclamation"> 0.3% above target</p>
  </div>
</div>