<div ng-controller="ColleaguesCtrl" class="scatter-colleagues" id="scatterchart-colleagues" style="max-width: 500px; min-width: 400px; height: 400px; margin: 0 auto">
</div>

<div ng-controller="ColleaguesCtrl" class="scatter-colleagues" id="stackbar-colleagues" style="max-width: 500px; min-width: 400px; height: 400px; margin: 0 auto">
</div>

<div>
  <div>
    <p>Attrition</p>
    <hr>
    <p>13.9%</p>
    <p>up</p> 
    <p>1.0% from prior month</p>
    <p>warning</p>
    <p class="mark-exclamation">1.4% above target</p>
  </div>

  <div>
    <p>Absence/sickness</p>
    <hr>
    <p>4.3%</p>
    <p>up</p> 
    <p>0.3% from prior month</p>
    <p>warning</p>
    <p>0.3% above target</p>
  </div>
</div>