<!--// TODO dynamically insert path and back button in navbar.
// TODO highlight and set eye for active View (Group Operations/BU Breakdown).
// TODO set up functionality of absolute button-->
<script src="js/variance-by-cost-category-chart.js"></script>
<script src="js/group-operations-chart.js"></script>

<div class="container-fluid" ng-controller="HeadCountCtrl">
	<div class="row-fluid">
		<div class="container-fluid span3">
			<p><h3>Expected Variance from Target</h3></p>
			View
			<div class="btn-group">
			  <select name="test" ng-change="change()" ng-model="numTypeProp"><!-- class="btn dropdown-toggle hcView" href="#" data-toggle="dropdown" -->
			    <option value="typePerc">Percentage</option>
			    <option value="typeAbs">Absolute</option>
			  </select>
			  <!--ul class="dropdown-menu">
			  	<li>Percentage</li>
			  	<li>Absolute</li>
			    <!-- dropdown menu links >
			  </ul-->
			</div>
		</div>
		<div class="container-fluid span9">
			<div class="float-left span2 summary">
				<br>
				<b>Actual</b><br>
				Current<hr>
				<h2 class="greenish">18,220</h2><br>
				<i class="icon-arrow-down greenish"></i>112 from prior week
			</div>
			<div class="float-left span2 summary">
				<br>
				<b>Projection</b><br>
				End monthandyear<hr>
				<h2 class="greenish">18,404</h2><br>
				<i class="icon-ok greenish"></i>411 below target
			</div>
			<div class="float-left span2 summary">
				<br>
				<b>Projection</b><br>
				End monthandyear<hr>
				<h2 class="greenish">16,887</h2><br>
				<i class="icon-ok greenish"></i>453 below target
			</div>
			<div class="float-left span2 summary">
				<br>View
				<div class="btn-group btn-group-vertical">
					<button class="btn groupOps rightBtnGrp" ng-click="GOClick()">Group Operations
						<i class="GOclass icon-eye-open"></i></button>
				  <button class="btn BUBreakdown rightBtnGrp" ng-click="BUBClick()">BU Breakdown
				  	<i class="BUBclass icon-eye-open"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="container-fluid span3">
			<div id="containerLeft"></div>
		</div>
		<div class="container-fluid span9">
			<div id="containerRight" class="GOclass"></div>
			<ul class="heatTable BUBclass">
				<ul ng-repeat="subArray in BUBreakdown">
					<span class="horBox" ng-repeat="variance in subArray">{{variance.value}}</span>
				</ul>
			</ul>
		</div>
	</div>
</div>
