<div class="container-fluid">
 <div class="row-fluid">
  <div class="span10">
    <div class="row-fluid">
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-money bigicon"></i>Cost<i class="icon-check pull-right"></i></h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>Projected month end total cost below target (£1347 M versus target of £1560 M)</p>
          </div>
        </div>
      </div>
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-warning-sign bigicon"></i>Control</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>3 HRI actions due in Q4 2012, all mitigating actions on track and all audit actions are green</p>
          </div>
        </div>
      </div>
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-group bigicon"></i>Customer</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>26 new complaints in August down 4% from last month</p>
          </div>
        </div>
      </div>
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-user bigicon"></i>Colleagues</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>Colleague satisfaction up 5% to 75%</p>
          </div>
        </div>
      </div>
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-exchange bigicon"></i>Transform Initiatives</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>2/5 regulatory projects and 3/3 integration projects are amber</p>
          </div>
        </div>
      </div>
      <div class="span6 dashBoardBox">
        <div class="row-fluid">
          <div class="span12">
            <h2><i class="icon-bar-chart bigicon"></i>Benchmarks</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <p>Compare CB Bank to benchmarks based on a sample of 16 European banks</p>
          </div>
        </div>
      </div>



    </div>
    <div class="row-fluid">
      <div class="footer-scroll">
        <div class="span3 footerlabel">
          Document Explorer
        </div>
      </div>
    </div>
  </div>
  <div class="span2">
    <div class="sidebarright">
      sidebar
    </div>
  </div><!--/row-->
</div><!--/row-->
</div>